<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna:Rental estimation tool</title>
</head>
<body onload="setDate(),sharedChange(),furnishedChange(),servicedChange()">
    <main>
        {% extends "base.html" %}
        {% block content %}
        <div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
            <div class=" property-input-card       flex flex-col bg-white shadow-md px-4 sm:px-6
                md:px-8
                lg:px-10
                py-8
                rounded-3xl
                w-50
                max-w-md
              "
            >
              <div class="font-medium self-center text-xl sm:text-3xl text-gray-800">
                Get your estimates.
              </div>
              <div class="mt-4 self-center text-xl sm:text-sm text-gray-800">
                Enter your property details
              </div>
                <p>{{ prediction }}</p>
                <form action="{{ url_for('predict')}}" method="post">
                  <div class=" flex flex-col mb-5 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 ">
                    <div class="grid grid-cols-1">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="type">Type</label>
                        <select 
                        name="type"
                        id="type"
                        value="house"
                        class="text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400"
                        onchange="typeChange()"
                        >
                          <option value="0">house</option>
                          <option value="1">Apartment</option>
                        </select>
                    </div>
                    <div class="grid grid-cols-1">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="sub_type">Sub type</label>
                        <select 
                        name="sub_type"
                        id="sub_type"
                        class="text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400"
                        >
                          <option value="0" class="house-option">townhouse</option>
                          <option value="7" class="apartment-option">Bedsitter</option>
                          <option value="2" class="house-option">Detached duplex</option>
                          <option value="5"  class="house-option">Semi-detached duplex</option>
                          <option value="3" class="house-option">Detached Bungalow</option>
                          <option value="9" class="house-option">Semi-detached bungalow</option>
                          <option value="6" class="house-option">Terraced bungalow</option>
                          <option value="4" class="apartment-option">Mini flat</option>                          
                          <option value="8" class="house-option">Block of Flats</option>
                          <option value="1">missing</option>                          
                        </select>
                    </div>
                  </div>
                  <div class=" flex flex-col mb-5 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 ">
                    <div class="grid grid-cols-1">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="type">County</label>
                        <select 
                        name="county"
                        id="county"
                        class="text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400"
                        onchange="stateChange()"
                        >                          
                          <option value="0">Nairobi</option>
                          <option value="1">Kiambu</option>
                          <option value="2">Kajiado</option>
                          <option value="3">Mombasa</option>
                        </select>
                    </div>
                    <div class="grid grid-cols-1">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="locality">Locality</label>
                        <select 
                        name="locality"
                        id="locality"
                        class="text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400"
                        required
                        >
                          <option value="0" class="nairobi-option ">Nairobi central</option>
                          <option value="1" class="nairobi-option">Parklands</option>
                          <option value="2" class="nairobi-option">Lavington</option>
                          <option value="3" class="nairobi-option">Westlands</option>
                          <option value="4" class="nairobi-option">Kileleshwa</option>
                          <option value="5" class="nairobi-option">Kitisuru</option>                          
                          <option value="7" class="nairobi-option">Kilimani</option>
                          <option value="8" class="nairobi-option">karen</option>
                          <option value="10" class="nairobi-option">Langata</option>
                          <option value="13" class="nairobi-option">Kasarani</option>                          
                          <option value="16" class="nairobi-option">Nairobi west</option> 
                          <option value="6" class="kiambu-option">Kabete</option>
                          <option value="11" class="kiambu-option">Thika</option>
                          <option value="12" class="kiambu-option">Ruiru</option>
                          <option value="14" class="kiambu-option">Kikuyu</option>
                          <option value="15" class="kiambu-option">Juja</option>                                                   
                          <option value="18" class="mombasa-option">Nyali</option>
                          <option value="20" class="mombasa-option">Bamburi</option>
                          <option value="19" class="kajiado-option">Ongata Rongai</option>  
                          <option value="9" class="kajiado-option">Kitengela</option> 
                          <option value="17" class="kajiado-option">Ngong</option>                       
                        </select>
                    </div>
                  </div>
                 <div class="flex flex-col mb-5">
                    <label
                      for="bedrooms"
                      class="tracking-wide text-gray-600 uppercase md:text-sm text-xs text-gray-500 text-light font-semibold"
                      >Bedrooms:</label
                    >
                    <div class="relative">
                      <div
                        class="
                          inline-flex
                          items-center
                          justify-center
                          absolute
                          left-0
                          top-0
                          h-full
                          w-10
                          text-gray-400
                        "
                      >
                      </div>
                      <input
                        id="bedrooms"
                        type="number"
                        name="bedrooms"
                        required
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        "
                        placeholder="Number of bedrooms"
                      />
                    </div>
                  </div>

                 <div class=" flex flex-col mb-5 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 ">
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="toilets">No of bathrooms</label>
                      <input
                        id="bathrrooms"
                        type="number"
                        name="bathrooms"
                        required
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        "
                        placeholder="bathrooms"
                      />
                    </div>
                    <div class="grid grid-cols-1">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="toilets">No. of Toilets</label>
                      <input
                        id="toilets"
                        type="number"
                        name="toilets"
                        required
                        class="
                        text-sm
                        placeholder-gray-500
                        pl-2
                        pr-4
                        rounded-2xl
                        border border-gray-400
                        w-full
                        py-2
                        focus:outline-none focus:border-blue-400
                        "
                        placeholder="toilets"
                      />
                    </div>
                  </div>

                  <div class="flex flex-col mb-5">
                    <label
                      for="parking"
                      class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold"
                      >Parking spots:</label
                    >
                    <div class="relative">
                      <div
                        class="
                          inline-flex
                          items-center
                          justify-center
                          absolute
                          left-0
                          top-0
                          h-full
                          w-10
                          text-gray-400
                        "
                      >
                      </div>
        
                      <input
                        id="parking"
                        type="number"
                        name="parking"
                        value="0"
                        class="
                          text-sm
                          placeholder-gray-500
                          pl-2
                          pr-4
                          rounded-2xl
                          border border-gray-400
                          w-full
                          py-2
                          focus:outline-none focus:border-blue-400
                        "
                        placeholder="parking spaces available"
                      />
                    </div>
                  </div>

                  <div class=" flex flex-col mb-5 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 ">
                    <div class="grid grid-cols-1">
                      <label class="flex items-center relative w-max cursor-pointer select-none">
                        <span class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mr-3">Furnished</span>
                        <input type="checkbox" onchange="furnishedChange()" id="furnished"   class="appearance-none transition-colors cursor-pointer w-14 h-7 rounded-full " />
                      </label>
                    </div>
                    <div class="grid grid-cols-1">
                      <label class="flex items-center relative w-max cursor-pointer select-none">
                        <span class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mr-3">Serviced</span>
                        <input type="checkbox" onchange="servicedChange()" id="serviced"   class="appearance-none transition-colors cursor-pointer w-14 h-7 rounded-full " />
                      </label>
                    </div>
                  </div>
                  <div class=" flex flex-col mb-5 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 ">
                    <div class="grid grid-cols-1">
                      <label class="flex items-center relative w-max cursor-pointer select-none">
                        <span class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mr-8">Shared</span>
                        <input onchange="sharedChange()" id="shared" type="checkbox" class="appearance-none transition-colors cursor-pointer w-14 h-7 rounded-full " />
                      </label>
                    </div>
                    
                  </div>
                  <input type="hidden"  name="year" id="year">
                  <input type="hidden" name="month" id="month">
                  <input type="hidden" name="shared" id="sharedValue">
                  <input type="hidden" name="serviced" id="servicedValue">
                  <input type="hidden" name="furnished" id="furnishedValue">
                  <div class="flex w-full">
                    <button
                      type="submit"
                      class="
                        flex
                        mt-2
                        items-center
                        justify-center
                        focus:outline-none
                        text-white text-sm
                        sm:text-base
                        bg-blue-500
                        hover:bg-blue-600
                        rounded-2xl
                        py-2
                        w-full
                        transition
                        duration-150
                        ease-in
                      "
                    >
                      <span class="mr-2 uppercase">Submit</span>
                      
                    </button>
                  </div>
                </form>
              </div>
            </div>
           
          </div>
    {% endblock %}
    </main> 
</body>
</html>