<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    
    <div class="">
        <img src="../static/media/page_not_found.svg" alt="">
        <div>
            <h1>There is NOTHING Here....</h1>
            <p>...Maybe the page that you were looking for is no found or never existed</p>
            <button class="btn btn-dark">Back to home page</button>
        </div>
    </div>
</body>
</html>